#show-tailwind-grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#show-tailwind-grid-overlay > .container {
  height: 100%;
}

#show-tailwind-grid-overlay > .container > [class*='grid'] {
  height: 100%;
}

#show-tailwind-grid-overlay > .container > [class*='grid'] > [class*='grid-row'] {
  height: 100%;
}

#show-tailwind-grid-overlay [class*='grid-col-'] {
  position: relative;
  height: 100%;
  background-color: rgba(76, 199, 142, 0.2);

  /* Defaults */
  width: 8.3333%;
  display: inline-block;
}

#show-tailwind-grid-overlay [class*='grid-col-'] > div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  background-color: rgba(76, 199, 142, 0.2);
  opacity: 0.5;
}
